<div class="row">
  <div class="col s3">
    <!--Logo and Nav Buttons-->
    <ul id="side-nav" class="sidenav sidenav-fixed">
      <ul>
        <li><img class="responsive-img" id="logo" src="public/asset/img/furKeep.jpg"></li>
        <li>
          <h5>Helping Pets Find Their FurEver Home</h5>
        </li>
        <li><a class="waves-effect waves-light btn-large" href="/petsearch">Pet Search</a></li>
        <li><a class="waves-effect waves-light btn-large" href="/survey">Find Your Perfect Match</a></li>
        <li><a class="waves-effect waves-light btn-large" href="#">Fostering and Adoption Resources</a></li>
      </ul>

      <!--Social Media Icons-->
      <div class="social-media center-align">
        <a class="btn-floating btn-large waves-effect waves-light"><i class="fab fa-facebook"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="fab fa-twitter"></i></a>
        <a class="btn-floating btn-large waves-effect waves-light"><i class="fab fa-instagram"></i></a>
      </div>
    </ul>
  </div>

</div>

<!--Main Content Column-->
<div class="container">
  <div class="col s9" id="main-content">
    <div class="row" id="carousel">
      <!--Carousel Wrapper-->
      <div class="section">
        <div class="owl-carousel owl-theme">
          <!--Card1-->
          <div class="col-md-4">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card2-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card3-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card4-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card5-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card6-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card7-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card8-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card9-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>
          <!--Card10-->
          <div class="col-md-4 ">
            <div class="card mb-2">
              <img class="card-img-top" src="https://loremflickr.com/320/240/dog,kitten">
              <div class="card-body">
                <h4 class="card-title ">Pet Name</h4>
              </div>
            </div>
          </div>

        </div>
      </div>
      <!--Carousel Wrapper End-->
    </div>
    <!--Row 1 End-->

    <!--Resource Cards-->
    <div class="row">
      <div class="section" id="resourceCards">
        <!--Resources Card 1-->
        <div class="col s4">
          <div class="card" id="resources">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <span class="card-action orange darken-4 white-text">
              <a class="text-white" href="#">Learn More</a>
            </span>
          </div>
        </div>
        <!--Resources Card 2-->
        <div class="col s4">
          <div class="card" id="resources">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <span class="card-action orange darken-4 white-text">
              <a class="text-white" href="#">Learn More</a>
            </span>
          </div>
        </div>
        <!--Resources Card 3-->
        <div class="col s4">
          <div class="card" id="resources">
            <div class="card-content grey-text text-darken-3">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information.
                I am convenient because I require little markup to use effectively.</p>
            </div>
            <span class="card-action orange darken-4 white-text">
              <a class="text-white" href="#">Learn More</a>
            </span>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!--Column End-->
</div>
<!--Container ending-->