<ul id="side-nav" class="sidenav sidenav-fixed">
  <ul>
    <li><img class="responsive-img" src="public/asset/img/brand-logo.jpg"></li>
    <li><a class="waves-effect waves-light btn-large">Pet Search</a></li>
    <li><a class="waves-effect waves-light btn-large">Find Your Perfect Match</a></li>
    <li><a class="waves-effect waves-light btn-large">Fostering and Adoption Resources</a></li>

  </ul>

  <div class="social-media center-align">
    <a class="btn-floating btn-large waves-effect waves-light red-light"><i class="fab fa-facebook"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light red-light"><i class="fab fa-twitter"></i></a>
    <a class="btn-floating btn-large waves-effect waves-light red-light"><i class="fab fa-instagram"></i></a>
  </div>
</ul>


<div class="container" id="main-content">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/cat1.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/cat2.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/cat3.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/cat4.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/cat5.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/dog1.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/dog2.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/dog3.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/dog4.jfif"></a>
    <a class="carousel-item" href="#"><img src="/public/asset/img/front page images/dog5.jfif"></a>
  </div>